flatbuffers
numpy
jsonschema>=4.6.2
git+https://github.com/SonySemiconductorSolutions/aitrios-sample-application-keypoint-detection@v1.0.1#egg=console-access-api&subdirectory=backend/lib/console-access-api
